@charset "utf-8";

link[rel='manifest'] {
	--pwacompat-splash-font: bold 24px Arial;
}

/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/montserrat-v15-latin-regular.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/montserrat-v15-latin-regular.woff2')
			format('woff2'),
		/* Super Modern Browsers */
			url('../fonts/montserrat-v15-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('../fonts/montserrat-v15-latin-regular.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/montserrat-v15-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
		url('../fonts/montserrat-v15-latin-700.eot?#iefix')
			format('embedded-opentype'),
		/* IE6-IE8 */ url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'),
		/* Super Modern Browsers */ url('../fonts/montserrat-v15-latin-700.woff')
			format('woff'),
		/* Modern Browsers */ url('../fonts/montserrat-v15-latin-700.ttf')
			format('truetype'),
		/* Safari, Android, iOS */
			url('../fonts/montserrat-v15-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1;
}

#logo {
	margin-left: 2rem;
}

#drill {
	width: 100%;

	#drill-body {
		display: none;

		p {
			padding: 1rem 0 1rem 0;
			border-bottom: solid #f5f5f5 2px;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
				border-bottom: none;
				font-weight: bold;
			}
		}
	}

	.dropdown-item {
		&:first-child {
			padding: 0.65rem 0 0.5rem 0;
		}

		.checkbox {
			display: block;
			padding: 0.3rem 0;
		}
	}

	#horns-up-switch-label {
		margin-left: calc(50% - 5rem);
	}
}

.metronome-button.playing {
	$tempo: #{attr(data-tempo)};

	img {
		filter: invert(1);
		animation: metronome infinite;
	}

	&[data-tempo='100'] {
		img {
			animation-duration: 60000ms / 100 * 2;
		}
	}

	&[data-tempo='120'] {
		img {
			animation-duration: 60000ms / 120 * 2;
		}
	}

	&[data-tempo='144'] {
		img {
			animation-duration: 60000ms / 144 * 2;
		}
	}

	&[data-tempo='160'] {
		img {
			animation-duration: 60000ms / 160 * 2;
		}
	}

	&[data-tempo='180'] {
		img {
			animation-duration: 60000ms / 180 * 2;
		}
	}
}

@keyframes metronome {
	0% {
		transform: scaleX(-1);
	}
	49.999% {
		transform: scaleX(-1);
	}
	50% {
		transform: scaleX(1);
	}
	99.999% {
		transform: scaleX(1);
	}
	100% {
		transform: scaleX(-1);
	}
}

// ---------------------- Bulma ----------------------

// Set your brand colors
$scarlet: #bb0000;
$gray: #666666;

$primary: $scarlet;
$link: $scarlet;

$family-primary: 'Montserrat';

$dropdown-menu-min-width: #{'min(400px, 87vw)'};

$slider-radius: 10px;
$slider-track-radius: 100rem;
$slider-thumb-radius: 300px;

$thumb-size: 48px;
$slider-thumb-to-track-ratio: 1;

// Import only what you need from Bulma
@import '../../node_modules/bulma/sass/base/_all.sass';
@import '../../node_modules/bulma/sass/utilities/_all.sass';
@import '../../node_modules/bulma/sass/elements/button.sass';
@import '../../node_modules/bulma/sass/elements/container.sass';
@import '../../node_modules/bulma/sass/elements/title.sass';
@import '../../node_modules/bulma/sass/elements/box.sass';
@import '../../node_modules/bulma/sass/form/_all.sass';
@import '../../node_modules/bulma/sass/components/navbar.sass';
@import '../../node_modules/bulma/sass/components/dropdown.sass';
@import '../../node_modules/bulma/sass/layout/footer.sass';
@import '../../node_modules/bulma/sass/layout/section.sass';
@import '../../node_modules/bulma/sass/helpers/_all.sass';

@import '../../node_modules/bulma-switch/dist/css/bulma-switch.sass';
@import './slider.scss';

.dropdown-menu-center {
	left: 50%;
	right: auto;
	transform: translate(-50%, 0);
	padding-bottom: 2rem;
}
